body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:1011px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:1487px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:46px;
  width:1011px;
  height:1487px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  position:fixed;
  left:50%;
  margin-left:-505.5px;
  top:0px;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1011px;
  height:46px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:46px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:46px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
